<%- include('partials/header') %>

<%- include('partials/navbar') %>

<%- include('partials/sidebar') %>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

  <script>
    jQuery(document).ready(function($) {
      $('#example').DataTable(
        {
        dom: 'Bfrtip',
        buttons: [
                    'copy',
                    'excel',
                    'csv',
                    'pdf',
                    'print'
                ],
        }
      );
     
    } );
    </script>
<div class="content-wrapper" >
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2" >
          <div class="col-sm-6">
            <h1>View Top-up user</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="<%= baseURL %>/superadmin-login/">Home</a></li>
              <li class="breadcrumb-item active">View Top-up user </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
 <!-- Main content -->
  
    <section class="content">
      <div class="container-fluid"> 


<div class="row">
          <!-- left column-->
          <div class="col-md-24" style="padding:10px;">
            <!--general form elements -->
            <div class="card card-primary" >
              <div class="card-header" >
                <h3 class="card-title">View Top-up User</h3>
              </div>
              <!-- /.card-header -->
               
                <table id="example" class="table table-bordered" >
                <thead>
                    <th style="width:2px">SNO</th>
                    <th>UID</th>
                    <th>NAME</th>
                    <th>NUMBER</th>
                  
                   <th style="width: 40px">ACTION</th>
</thead>
<tbody>
    <% users.forEach(function(user,index){ %>
            <tr>
                <td><%= index+1 %></td>
                <td><%= user.uid %></td>
                <td><%= user.username%></td>
                <td><%= user.mobile%></td>
                <td>
               <a href="<%= baseURL %>/superadmin-login/user-delete/<%=user.uid%>" class="btn btn-block btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                </td>
            </tr>
    <% }); %>
          

</tbody>

</table> 

<%- include('partials/footer') %>


